{% set dhcp = salt['grains.filter_by']({
  'Debian': {
    'package': 'dhcpd',
    'service': 'dhcp',
    'config': '/etc/dhcp/dhcpd.conf',
  },
  'RedHat': {
    'package': 'dhcp',
    'service': 'dhcpd',
    'config': '/etc/dhcp/dhcpd.conf',
  },
}) %}
  

