{% set apache = salt['grains.filter_by']({
  'Debian': {
    'package': 'apache2',
    'service': 'apache2',
    'config': '/etc/apache2/apache2.conf',
  },
  'RedHat': {
    'package': 'apache2',
    'service': 'apache2',
    'config': '/etc/apache2/apache2.conf',
  },
}) %}
  
